{% extends 'profile/index.html.twig' %}

{% block actionProfil %}
	<button class="mt-8 w-full bg-[#F48023] hover:bg-[#E47013] text-white py-3 px-6 rounded-xl font-medium transition-all duration-300 transform hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[#F48023] focus:ring-opacity-50">
		Ajoutez en Ami
	</button>
{% endblock %}
